*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(60, 60, 37);
}
.container{
    background-color: blue;
    margin: 20px 30px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}
.mainbox{
    display: flex;
    justify-content: space-between;
    align-items:center; 
}
.box1{
    list-style-type: none;
    display: flex;
    justify-content: space-between; 
    gap: 50px;
}
.button{
    display:flex;
    justify-content: space-between; 
    width: 150px;
    height: 30px;
    padding: 5px;
}
.box2{
    width: 200px;
    height: 50px;
    border: 7px solid red;
    margin-top: 50px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    
}